@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 49 33% 95%;
    --foreground: 135 30% 15%;
    --card: 49 33% 98%;
    --card-foreground: 135 30% 15%;
    --popover: 49 33% 98%;
    --popover-foreground: 135 30% 15%;
    --primary: 134 30% 30%;
    --primary-foreground: 49 33% 95%;
    --secondary: 49 33% 90%;
    --secondary-foreground: 134 30% 30%;
    --muted: 49 33% 90%;
    --muted-foreground: 135 30% 40%;
    --accent: 33 26% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 49 33% 88%;
    --input: 49 33% 88%;
    --ring: 134 30% 30%;
    --chart-1: 134 30% 30%;
    --chart-2: 33 26% 52%;
    --chart-3: 135 30% 50%;
    --chart-4: 33 26% 72%;
    --chart-5: 135 30% 70%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 135 30% 15%;
    --sidebar-primary: 134 30% 30%;
    --sidebar-primary-foreground: 49 33% 95%;
    --sidebar-accent: 49 33% 90%;
    --sidebar-accent-foreground: 134 30% 30%;
    --sidebar-border: 49 33% 88%;
    --sidebar-ring: 134 30% 30%;
  }
  .dark {
    --background: 135 10% 10%;
    --foreground: 49 33% 95%;
    --card: 135 10% 12%;
    --card-foreground: 49 33% 95%;
    --popover: 135 10% 10%;
    --popover-foreground: 49 33% 95%;
    --primary: 49 33% 95%;
    --primary-foreground: 135 10% 10%;
    --secondary: 135 10% 18%;
    --secondary-foreground: 49 33% 95%;
    --muted: 135 10% 18%;
    --muted-foreground: 49 33% 80%;
    --accent: 33 26% 52%;
    --accent-foreground: 135 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 10% 18%;
    --input: 135 10% 18%;
    --ring: 33 26% 52%;
    --chart-1: 134 30% 60%;
    --chart-2: 33 26% 52%;
    --chart-3: 135 30% 40%;
    --chart-4: 33 26% 32%;
    --chart-5: 135 30% 20%;
    --sidebar-background: 135 10% 10%;
    --sidebar-foreground: 49 33% 95%;
    --sidebar-primary: 49 33% 95%;
    --sidebar-primary-foreground: 135 10% 10%;
    --sidebar-accent: 135 10% 18%;
    --sidebar-accent-foreground: 49 33% 95%;
    --sidebar-border: 135 10% 18%;
    --sidebar-ring: 33 26% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
